<footer>
    <p>&#169; Desenvolvido por Raphael Tavares</p>
    <a href="/admin">
        <button>
            <img src="/imgs/admin.png">
        </button>
    </a>
</footer>
</body>
</html>