<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Manga Store</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.5.1.min.js"></script>
</head>
<body>
    <%- include('navbar') %>