<%- include('partials/head') %>
<br><br>
<h1>Você não tem permisão de entrar nessa página!</h1>
<h2>Acesso Negado!</h2> 
<button type="submit" class="bg-button"><a style="color: white; padding-left: 200px; padding-right: 200px;" href="/">Voltar</a></button>
<%- include('partials/footer') %>
